.memeBody{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
.memeImg{
    height:430px;
    object-fit: cover;
}
.memeButton{
    padding:8px 20px;
    border:none;
    border-left:4px solid #222;
    border-right: 4px solid black;
    color: red;
    margin: 24px 0;
    font-size: 20px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease;
}
.memeButton:hover{
    padding: 8px 26px;
    border-left:8px solid #222;
    border-right: 8px solid #222;
    letter-spacing: 3px;
}
.memeauthor{
    margin: 8px;
}